//  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
// ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
// ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
// ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
// ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
//  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                                  


$black: #000000;
$white: #FFFFFF;
$gray-d: #2e2e2e;
$gray-l: #D4D0D0;




// ██╗   ██╗████████╗██╗██╗     ███████╗
// ██║   ██║╚══██╔══╝██║██║     ██╔════╝
// ██║   ██║   ██║   ██║██║     ███████╗
// ██║   ██║   ██║   ██║██║     ╚════██║
// ╚██████╔╝   ██║   ██║███████╗███████║
//  ╚═════╝    ╚═╝   ╚═╝╚══════╝╚══════╝
                                     


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Blender Pro";
}

a {
    text-decoration: none;
}

.mobile-none {
    @media (max-width: 767px)   {
        display: none!important;
    }
}
.mobile-only {
    display: none!important;
    @media (max-width: 767px)   {
        display: flex!important;
    }
}





// ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
// ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
// █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
// ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
// ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
// ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
                                            


@font-face {
    font-family: 'Blender Pro';
    src: url("../fonts/BlenderPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Blender Pro';
    src: url("../fonts/BlenderPro-Book.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Blender Pro';
    src: url("../fonts/BlenderPro-Heavy.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Blender Pro';
    src: url("../fonts/BlenderPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Blender Pro';
    src: url("../fonts/BlenderPro-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Origin';
    src: url("../fonts/OriginTech.ttf") format("truetype");
}

@font-face {
    font-family: 'Android';
    src: url("../fonts/Android.ttf") format("truetype");
}

@font-face {
    font-family: 'Elderberry';
    src: url("../fonts/Elderberry.ttf") format("truetype");
}

@font-face {
    font-family: 'Glitch';
    src: url("../fonts/Glitch.otf") format("opentype");
}

::-webkit-scrollbar {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: white;
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
}


// ::-webkit-scrollbar-corner {
//     background: white;
// }

